@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body {
 font-family: 'Maven Pro', sans-serif !important;
}

h1,h2,h3,h4,h5,h6 {
 font-weight: 700
}

/* Index */
/* - Hero */
.hero {
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 z-index: -1
}
.hero-img {
 object-fit: fill;
 height: 100vh;
 overflow: hidden;
}
.hero-overlay {
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 opacity: 0.5;
 background: linear-gradient(90deg, rgba(255, 243, 59, 1) 0%, rgba(253, 199, 12, 1) 30%, rgba(243, 144, 63, 1) 68%, rgba(237, 104, 60, 1) 88%, rgba(233, 62, 58, 1) 100%);
}

/* - HR */
hr.hr-home {
 border: 0;
 border-top: 1px solid #fff;
}

/* SocMed */
#socmed {
 font-size: 25px
}

/* Page */
hr {
 border: 0;
 border-top: 1px solid #00000088;
}

div.page-title {
 margin-bottom: 15px
}

div.page-content {
 text-align: justify
}

div.page-left {
 border-right: 1px solid #00000088;
}
@media only screen and (max-width: 600px) {
 div.page-left {
  border: none;
  border-top: 1px solid #00000088;
 }
}

/* Project */
.img-proj {
 object-fit: fill;
 height: 100%;
 overflow: hidden;
 background: #000000;
 transition: .5s ease;
}
a > div.img-proj:hover{
 opacity: 0.8;
}

/* Post */
.img-head {
 object-fit: fill;
 height: 260px;
 overflow: hidden;
}
.img-bawah {
 object-fit: fill;
 height: 150px;
 overflow: hidden;
}